body {
    margin: 0;
}
#textbox {
    width: 100vw;
    height: 100vh;

    /* Center text with flexbox */
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

#editor-container {
  height: 350px;
}

.container {
  margin-bottom: 10px;
  text-align: right;
}

.container a {
  font-family: Helvetia, sans-serif;
}

#form-container {
  width: 500px;
}

.row {
  margin-top: 15px;
}
.row.form-group {
  padding-left: 15px;
  padding-right: 15px;
}
.btn {
  margin-left: 15px;
}

.change-link {
  background-color: #000;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  bottom: 0;
  color: #fff;
  opacity: 0.8;
  padding: 4px;
  position: absolute;
  text-align: center;
  width: 150px;
}
.change-link:hover {
  color: #fff;
  text-decoration: none;
}
