body {
    margin: 0;
}
#textbox {
    width: 100vw;
    height: 100vh;

    /* Center text with flexbox */
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

#editor-container {
  height: 350px;
}

.container {
  margin-bottom: 10px;
  text-align: right;
}

.container a {
  font-family: Helvetia, sans-serif;
}