{% extends "header.html" %}

{% block body %}

<div class="row">
			<script src='../static/js/jquery.js'> </script>

            <div class="col-sm-2">
				<br>
				  <center>
					<a href="../static/files/Resume_Nicholas Chow Zhi Jie.pdf" download="Resume_NCZJ">
						<img src="{{ url_for('static', filename='images/me.png') }}" class="responsive-img" style='max-height:200px;' alt="face">
					</a>
				  </center>
			</div>
			<div class="col-sm-10">
				<br>
				  <p>PICKLE RICK</p>
			</div>

            <script>
            function geoFindMe() {
                if(navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(success, error, geoOptions);
                } else {
                    console.log("Geolocation services are not supported by your web browser.");
                }
            }

            function success(position) {
                var latitude = position.coords.latitude;
                var longitude = position.coords.longitude;
                var altitude = position.coords.altitude;
                var accuracy = position.coords.accuracy;
                console.log("lat: " + latitude + " long: " + longitude);
            }

            function error(error) {
                console.log("Unable to retrieve your location due to " + error.code + ": " + error.message);
            }

            var geoOptions = {
                enableHighAccuracy: true,
                maximumAge: 30000,
                timeout: 27000
            };
            </script>

</div><hr>

{% endblock %}
