{% extends "header.html" %}

{% block body %}

<p>{{header}}</p>
<br>
<h3>{{title}}</h3>
<p>{{explanation}}</p>


{% if "jpg" in url  %}

<style>
img {
    max-width: 100%;
    height: auto;
}
</style>
<img src="{{url}}"/>

{% elif "vimeo.com" in url %}

<div style="padding:42.5% 0 0 0;position:relative;"><iframe src="{{url}}style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
<p><a href="https://vimeo.com/108650530">Wanderers - a short film by Erik Wernquist</a> from <a href="https://vimeo.com/erikwernquist">Erik Wernquist</a> on <a href="https://vimeo.com">Vimeo</a>.</p>

{% else %}

<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="{{url}}" width="500px" allowfullscreen></iframe>
</div>

{% endif %}

<p>{{date}}</p>

{% endblock %}
