<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
    <title>Nicholas Chow</title>
	<link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}" type = "text/css"/>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" type = "text/css"/>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type = "text/css"/>
	<meta name="viewport" content = "width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

	<style type="text/css">
		html,
		body {
		  font-family: 'Josefin Sans', monospace;
		  height:100%
		}
	</style>
    <!-- Main Quill library -->
    <script src="//cdn.quilljs.com/1.3.5/quill.js"></script>
    <script src="//cdn.quilljs.com/1.3.5/quill.min.js"></script>

    <!-- Theme included stylesheets -->
    <link href="//cdn.quilljs.com/1.3.5/quill.snow.css" rel="stylesheet">
    <link href="//cdn.quilljs.com/1.3.5/quill.bubble.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</head>

<body>
    <div id="form-container" class="container">
	  <form action="{{ url_for('note_upload', id=id) }}" method="post">
	    <div class="row form-group">
	      <input name="note" type="hidden">
          {% if "new_note" in id %}
            <label for="display_name">Filename</label>
            <input class="form-control" name="display_name" type="text" style="width:50%">
            <br>
          {% else %}
            {{ id }}
          {% endif %}
	      <div id="editor-container">
              {{ content }}
	      </div>
	    </div>
	    <div class="row">
	      <button class="btn btn-primary" type="submit">Save Note</button>
	    </div>
	  </form>
	</div>

    <script type="text/javascript" src="../static/js/notebook.js"></script>

</body>
